@model IEnumerable<RBACDemo.Models.Role>

@{
    ViewBag.Title = "角色模块管理";
}

@Html.ActionLink("新增","Create",null,new { id="create"})
<table>
    <tr>
        <th>角色名称</th>
        <th>模块名称</th>
        <th>控制器名称</th>
        <th>操作</th>
    </tr>
    @*第一次遍历的是所有的角色*@
    @foreach (var role in Model)
    {
        @*第二次遍历的是每一个角色里的模块*@
    foreach (var module in role.Modules)
    {
        <tr>
            <td>@role.Name</td>
            <td>@module.Name</td>
            <td>@module.Controller</td>
            <td style="width: 100px">
                <a class="edit" href="@Url.Action("Edit",new {roleId=role.Id ,moduleId=module.Id})">编辑</a>
                @Html.ActionLink("删除", "Delete", new { roleId = role.Id, moduleId = module.Id },new {@class="Delete"})
            </td>
        </tr>
     }

    }
</table>
@section Script{
    <script>
        $("#create").click(function () {
            layer.open({
                type: 2,
                title: '@ViewBag.Title',
                shadeClose: true,
                shade: false,
                area:['500px','400px'],
                content: '@Url.Action("Create")'
            });
            event.preventDefault();
        });
        $(".edit").click(function (event) {
            var href = $(this).attr("href");
            var $that = $(this);
            layer.open({
                type: 2,
                title: '@ViewBag.Title',
                shadeClose: true,
                shade: false,
                area: ['500px', '400px'],
                content: href
            });
            event.preventDefault();
        });
        $('.delete').click(function (event) {
            event.preventDefault();
            var href = $(this).attr("hret");
            $.ajax({
                url: href,
                type: "post",
                success: function(res) {
                    if (res.code === 200) {
                        parent.location.reload();
                    } else {
                        alert("删除失败");
                    }
                }
            });
        });
        </script>
}

 

